<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Configurate password')"></head>

<body>
<nav th:replace="layout :: navbar('configurate_password')"></nav>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Password configuration</h2>

            <div class="input-group-lg">
                <form role="form" data-toggle="validator"
                      th:action="@{/password/reset}" method="post">
                    <input type="hidden" name="token" th:value="${token}"/>

                    <div class="row">
                        <div class="form-group col-md-6">

                            <label for="inputNewPassword" class="">New Password</label>
                            <div class="form-group">

                                <input type="password" id="inputNewPassword" name="password"
                                       class="form-control" placeholder="Password"
                                       data-minlength="8"
                                       required="required"/>
                                <div class="help-block">Minimum 8 karakters.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputRepeatPassword" class="">Repeat password</label>
                            <input type="password" id="inputRepeatPassword"
                                   data-match="#inputNewPassword" data-minlength="8"
                                   required="required"
                                   data-match-error="Both password fields should match."
                                   class="form-control" placeholder="Confirm"/>
                            <div class="help-block with-errors"></div>

                        </div>
                    </div>
                    <div class="row">
                        <input class="col-sm-8 col-sm-offset-2 btn btn-lg btn-primary"
                               type="submit" value="Update password"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>