<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Forgot password?')"></head>

<body>
<nav th:replace="layout :: navbar('forgot_password')"></nav>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Forgot password?</h2>

            <div class="input-group-lg">
                <form role="form"
                      th:action="@{/password/forgot}" method="post">


                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="text" id="email" placeholder="example@example.com"
                               name="email" class="form-control"/>
                    </div>

                    <div class="row">
                        <input class="col-sm-8 col-sm-offset-2 btn btn-lg btn-primary"
                               type="submit" value="Reset"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>